[submodule "interface"]
	path = interface
	url = git@github.com:daostack/cg-interface.git
[submodule "contracts"]
	path = contracts
	url = https://github.com/daostack/CG2
[submodule "subgraph"]
	path = subgraph
	url = git@github.com:daostack/cg-subgraph.git
